body, html {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    /* כאן קבעתי את הפונט ל10 כדי שיהיה לי קל לחשב את הגודל היחסי אח"כ - חשוב לכל דף אינטרנט */
    font-size: 10px;
}

.top-bar {
    border: 1px blue solid;
    height: 7rem;
    background: azure;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    font-size: 3rem;
}

.hero {
    border: 2px solid rosybrown;
    height: 51rem;
    background: cyan;
    background-image: url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-position: cover;
}

.main {
    border: 1px solid rebeccapurple;
    display: flex;
    justify-content: center;
    position: relative;
}

.list_boxes {
    background: salmon;
    width: 50rem;
    min-height: 75rem;

}

.list_boxes .box {
    border: 1px dashed brown;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1.1rem;
    font-size: 1.6rem;
}

.booking_box {
    border: lightslategray 1px solid;
    color: #DE33C4;
    background: #4DDE33;
    width: 28rem;
    height: 35rem;
    font-size: 4rem;
    position: sticky;
    top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other_list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: peachpuff;
    background: firebrick;
    font-size: 2.3rem;
    height: 40rem;
    padding: 2rem;
}

footer {
    color: bisque;
    background-color: rgba(228, 49, 147, 0.669);
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
}